*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

:root {
  --layer-2-color: hsl(222, 10%, 20%);
  --layer-1-color: hsl(218, 10%, 16%);
  --layer-0-color: hsl(220, 18%, 10%);
  --text-0-color: white;
  --border-0-color: var(--layer-0-color);
  --space-0: 0.5rem;
  --space-1: calc(2 * var(--space-0));
  --space-2: calc(4 * var(--space-0));
}

html {
  height: 100vh;
}

body {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100vh;
  background-color: var(--layer-0-color);
  color: var(--text-0-color);
}

body>h1 {
  background-color: var(--layer-2-color);
  padding: var(--space-0);
}

body>h1 a {
  text-decoration: none;
}

body>nav {
  background-color: var(--layer-1-color);
}

a {
  color: var(--text-0-color);
}

body>nav label {
  display: inline-block;
  padding: var(--space-0);
  cursor: pointer;
}

body>nav input {
  position: absolute;
  opacity: 0;
}

body>nav input:checked + label {
  background-color: var(--layer-0-color);
  text-decoration: underline;
}

body>article {
  padding: var(--space-0);
  grid-row: 3 / 4;
  grid-column: 1 / 1;
}

ul, ol {
  margin-inline-start: var(--space-2);
}

body>form {
  padding: var(--space-0);
  grid-row: 3 / 4;
  grid-column: 1 / 1;
  overflow: auto;
}

body>form section {
  height: 100%;
  display: none;
  overflow: auto;
  background-color: var(--layer-0-color);
}

body>form fieldset {
  height: 100%;
  border: none;
}

body>form textarea {
  height: 100%;
  min-height: 10rem;
  overflow: auto;
  padding: 0.5rem;
  width: 100%;
  background-color: transparent;
  color: var(--text-0-color);
  border: solid 1px var(--border-0-color);
}

body>form ::placeholder {
  color: var(--text-0-color);
}

body>form #image button {
  padding: var(--space-0);
  background-color: var(--layer-2-color);
  border: solid 1px inherit;
  color: var(--text-0-color);
}

body>form #image-tag {
  display: none;
  padding: var(--space-0) 0;
  max-height: 25vh;
}

body>form #image-document {
  display: none;
  padding: var(--space-0) 0;
  max-height: 10rem;
}

body>form #image-error {
  display: none;
  color: #f88070;
  padding: var(--space-0) 0;
}