*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --layer-2-color: hsl(222, 10%, 20%);
  --layer-1-color: hsl(218, 10%, 16%);
  --layer-0-color: hsl(220, 18%, 10%);
  --text-0-color: white;
  --border-0-color: var(--layer-0-color);
  --space-0: 0.5rem;
}

html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--layer-0-color);
  color: var(--text-0-color);
}

body > h1 {
  background-color: var(--layer-2-color);
  padding: var(--space-0);
}

body > nav {
  background-color: var(--layer-1-color);
}

body > nav a {
  display: inline-block;
  color: var(--text-0-color);
  padding: var(--space-0);
}

body > nav a.active {
  background-color: var(--layer-0-color);
}

body > form {
  flex-grow: 1;
  padding: var(--space-0);
}

body > form section {
  height: 100%;
  display: none;
}

body > form section:target {
  display: block;
}

body > form fieldset {
  height: 100%;
  border: none;
}

body > form textarea {
  height: 100%;
  min-height: 10rem;
  overflow: auto;
  padding: 0.5rem;
  width: 100%;
  background-color: transparent;
  color: var(--text-0-color);
  border: solid 1px var(--border-0-color);
}

body > form ::placeholder {
  color: var(--text-0-color);
}

body > form #preview {
  height: 100%;
  overflow: auto;
}

body > form #image button {
  padding: var(--space-0);
  background-color: var(--layer-2-color);
  border: solid 1px inherit;
  color: var(--text-0-color);
}

body > form #image-tag {
  display: none;
  padding: var(--space-0) 0;
}

body > form #image-document {
  display: none;
  padding: var(--space-0) 0;
  max-height: 10rem;
}
